{% extends "./plantillaPrin.html" %}
{% block contenido %}
<div class="container" style="padding-top: 40px;">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<br><br>
<div class="card">
<div class="card-body">
<h3 class="text-center"><b>Iniciar Sesión</b></h3>
<hr>
{% if error %}<p style="color:red;"><b>{{ error }}</b></p>{% endif %}

<form id="form_login" method="post">
    {% csrf_token %}
    <b>Usuario o correo:</b>
    <input class="form-control" type="text" name="usuario">
    <br>
    <b>Contraseña:</b>
    <div class="input-group">
        <input class="form-control" type="password" name="clave" id="clave">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="toggle_clave" tabindex="-1">
                <i class="fa fa-eye" id="icono_clave"></i>
            </button>
        </div>
    </div>
    <br><br>
    <button class="btn btn-success form-control" type="submit">Ingresar</button>
</form>
<hr>
<p class="text-center mb-0">¿No tienes cuenta? <a href="{% url 'registro_cliente' %}">Regístrate aquí</a></p>
</div>
</div>
<br>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $("#form_login").validate({
        rules: { usuario: { required: true }, clave: { required: true } }
    });

    // Ojito para mostrar/ocultar contraseña
    $('#toggle_clave').on('click', function() {
        const input = $('#clave');
        const icono = $('#icono_clave');
        if (input.attr('type') === 'password') {
            input.attr('type', 'text');
            icono.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            input.attr('type', 'password');
            icono.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
});
</script>
{% endblock %}